@import url('https://fonts.googleapis.com/css2?family=Alata&family=Archivo+Black&family=Bree+Serif&family=Dosis:wght@500&family=Fredoka+One&family=Josefin+Sans:wght@400;500&family=Lilita+One&family=Prompt&family=Rajdhani:wght@600&family=Secular+One&display=swap');


:root {
    --font1: 'Alata', sans-serif;
    --font2: 'Archivo Black', sans-serif;
    --font3: 'Bree Serif', serif;
    --font4: 'Dosis', sans-serif;
    --font5: 'Fredoka One', cursive;
    --font6: 'Josefin Sans', sans-serif;
    --font7: 'Lilita One', cursive;
    --font8: 'Prompt', sans-serif;
    --font9: 'Rajdhani', sans-serif;
    --font10: 'Secular One', sans-serif;
}


section#maincontent {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#maincontent header {
    background-color: #E85D04;
    width: 100%;
    padding: 9rem 0 4rem 0;
    overflow: hidden;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    justify-content: space-between;
}

header .content.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .content.left .img {
    width: 100%;
}

header .content.left .img img {
    width: 100%;
    animation-name: left;
    filter: brightness(60%);
    animation-duration: 1s;
    transform: translateX(-50px);
}

@keyframes left {
    0% {
        transform: translateX(-400px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50px);
    }
}

header .content.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .content.right .img {
    width: 100%;
}

header .content.right .img img {
    width: 100%;
    z-index: 0;
    animation-name: right;
    animation-duration: 1s;
    filter: brightness(60%);
    transform: rotate(-100deg);
    margin-left: 100px;
    transition: 0.8s;
    /* transform: translateX(100px); */
}

header .content.right .img:hover img {
    margin-left: 250px;
    transition: 0.2s;
}

@keyframes right {
    0% {
        margin-left: 400px;
    }

    50% {
        margin-left: 70px;
    }

    100% {
        margin-left: 100px;
    }
}

header .content.center {
    padding: 60px 10px;
    animation-name: center;
    animation-duration: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes center {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }

    50% {
        transform: translateY(40px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header .content.center .header {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header .content.center .header i {
    font-size: 70px;
    color: #fff4d3;
    transition: 0.3s;
}

header .content.center .header i:hover {
    transform: scale(0.9);
}

header .content.center .header h3 {
    font-family: var(--font2);
    color: #dfd2d2;
    letter-spacing: 2px;
    font-size: 60px;
}

header .content.center .header span {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 17px;
    color: #370617;
}

header .content.center .but {
    padding: 30px;
}

header .content.center .but a {
    padding: 10px 30px;
    background-color: #D8C99B;
    border: 2px solid #D8C99B;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: var(--font3);
    color: #E85D04;
    border-radius: 0px 30px 30px 30px;
    transition: 0.3s;
}

header .content.center .but a:hover {
    background-color: transparent;
    border: 2px solid #D8C99B;
    font-weight: bold;
    color: #efefef;
}

main {
    margin: 30px 0;
}

main .content.first {
    display: flex;
    gap: 20px;
    padding: 0 20px
}

main .content.first .left {
    width: 40%;
    padding: 30px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

main .content.first .left .head h3 {
    font-size: 55px;
    line-height: 60px;
    font-family: var(--font6);
    color: #252525;
}

main .content.first .left .body h4 {
    font-family: var(--font4);
    font-size: 20px;

}

main .content.first .left .head h3 b {
    color: #E85D04;
}

main .content.first .right {
    width: 50%;
}

main .content.first .right .image {
    width: 100%;
}

main .content.first .right .image img {
    width: 100%;
}

main .content.second {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
}

main .content.second .head {
    text-align: center;
    font-family: var(--font6);
    font-size: 55px;
    font-weight: bold;
}

main .content.second .head span b {
    color: #E85D04;
}

main .content.second .body {
    display: flex;
    gap: 20px
}

main .content.second .body .left {
    width: 100%;
    text-align: center;
}

main .content.second .body .left .image {
    width: 100%;
}


main .content.second .body .left .image img {
    width: 100%;
    padding: 10px;
    border-radius: 0 60px 60px 60px;
}

main .content.second .body .right {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main .content.second .body .right h1 {
    font-family: var(--font6);
    font-size: 35px;
    font-weight: bold;
}

main .content.second .body .right h1 b {
    color: #E85D04;
}

main .content.second .body .right span {
    text-align: justify;
    font-family: var(--font4);
    font-size: 20px;
    font-weight: bold;
}

main .content.second .body .right .list-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    row-gap: 20px;
}

main .content.second .body .right .list-detail .list {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 30px;
}

main .content.second .body .right .list-detail .list i {
    color: #E85D04;
}

main .content.third {
    display: flex;
    gap: 20px;
    margin: 100px 0 0 0;
    padding: 0 20px;
}

main .content.third .left {
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

main .content.third .left .head h3 {
    font-size: 55px;
    line-height: 60px;
    font-family: var(--font6);
    color: #252525;
}

main .content.third .left .body h4 {
    font-family: var(--font4);
    font-size: 20px;

}

main .content.third .left .head h3 b {
    color: #E85D04;
}

main .content.third .right {
    width: 100%;
}

main .content.third .right .image {
    width: 100%;
}

main .content.third .right .image img {
    width: 100%;
    border-radius: 60px 0 60px 60px;
}

main .content.fourth {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
    padding: 0 20px;
    gap: 20px;
    align-items: center;
}

main .content.fourth .header h1 {
    font-family: var(--font6);
    font-size: 55px;
}

main .content.fourth .header h1 b {
    color: #E85D04;
}

main .content.fourth .body .head {
    font-family: var(--font4);
    font-size: 18px;
    font-weight: bold;
}

main .content.fourth .body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content.fourth .body .content {
    display: grid;
    padding: 20px 0 0 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: stretch;
}

main .content.fourth .body .content a {
    text-decoration: none;
}

main .content.fourth .body .content .card {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    align-items: center;
    background-color: #e3dcc593;
    border-radius: 10px;
}

main .content.fourth .body .content .card .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .content.fourth .body .content .card .image img {
    width: 100%;
}

main .content.fourth .body .content .card:hover .image img {
    animation-name: spin;
    animation-duration: 0.5s;
}

main .content.fourth .body .content .card:hover .brand {
    color: #E85D04;
}

@keyframes spin {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(-1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

main .content.fourth .body .content .card .brand {
    color: #252525;
    font-family: var(--font3);
    font-size: 20px;
}

main .content.fifth {
    padding: 0 20px;
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .content.fifth .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 0 20px 0;
}

main .content.fifth .header h1 {
    color: #252525;
    font-size: 55px;
    font-family: var(--font6);
}

main .content.fifth .header h1 b {
    color: #E85D04;
}

main .content.fifth .header p{
    width: 50%;
    text-align: center;
    font-family: var(--font4);
    font-size: 18px;
    font-weight: bold;
}

main .content.fifth .body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .content.fifth .body .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    padding: 10px;
    background-color: #d8c99b6c;
    border-radius: 0 30px 30px 30px;
    transition: all 0.3s;
}

main .content.fifth .body .card .icon img{
    transition: all 0.3s;
}

main .content.fifth .body .card .text{
    padding: 20px;
    display: flex;
    text-align: center;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

main .content.fifth .body .card .text h2{
    font-family: var(--font8);
    font-size: 30px;
    color: #252525;
}

main .content.fifth .body .card .text span{
    font-family: var(--font9);
    font-size: 15px;
    color: #370617;
}

main .content.fifth .body .card:hover{
    border-radius: 30px 0 30px 30px;
    transform: translateY(-10px);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.182);
}

main .content.fifth .body .card:hover .icon img{
    animation-name: tada;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes tada{
    0%{
        transform: translateX(0);
        transform: scale(0.80);
    }
    25% {
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);
    }
    75%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0);
        transform: scale(0.80)
    }
}

main .content.fifth .detail-about{
    display: grid;
    margin: 50px 0 0 0;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

main .content.fifth .detail-about .left{
    width: 100%;
    padding: 20px 0;
}

main .content.fifth .detail-about .left .head h1{
    font-family: var(--font6);
    font-size: 55px;
    margin: 0 0 30px 0;
    color: #252525;
}

main .content.fifth .detail-about .left .head h1 b{
    color: #E85D04;
}

main .content.fifth .detail-about .left .body{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    text-align: justify;
    font-family: var(--font4);
    font-weight: bold;
    font-size: 18px;
}

main .content.fifth .detail-about .right{
    width: 100%;
}

main .content.fifth .detail-about .right .image{
    width: 100%;
}

main .content.fifth .detail-about .image img{
    width: 100%;
    border-radius: 60px 0 60px 60px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.182);
}

main .content.sixth {
    padding: 0 20px;
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

main .content.sixth .header{
    margin: 0 0 30px 0;
}

main .content.sixth .header h2{
    font-family: var(--font6);
    text-align: center;
    font-size: 55px;
    color: #252525;
}

main .content.sixth .header h2 b{
    color: #E85D04;
}

main .content.sixth .header span{
    text-align: center;
    font-family: var(--font4);
    font-weight: bold;
    font-size: 18px;
}

main .content.sixth .body {
    display: flex;
    gap: 100px;
}   

main .content.sixth .body .left .map{
    border-radius: 5px 60px 60px 5px;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.182);
}

main .content.sixth .right .card{
    width: 100%;
    background-color: #fff4d384;
    border-radius: 50px 50px 30px 30px ;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
}

main .content.sixth .right .card .image{
    width: 100%;
}

main .content.sixth .right .card .image img{
    width: 100%;
    border-radius: 50px 50px 0 0;
}

main .content.sixth .right .card .body{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px 50px;
}

main .content.sixth .right .card .body .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .content.sixth .right .card .body .list .ket h3{
    font-family: var(--font1);
    color: #252525;
    font-size: 20px;
}   

main .content.sixth .right .card .body .list .ket{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

main .content.sixth .right .card .body .list .ket span{
    font-family: var(--font9);
}